/* @import 'bulma/css/bulma.css'; */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
}

* {
  user-select: none;
  -webkit-user-select: none;  /* Para Safari */
  -moz-user-select: none;     /* Para Firefox */
  -ms-user-select: none;      /* Para IE */
}

#ui {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px; /* Ancho fijo de la columna */
  height: 100vh;
  background-color: rgba(234, 234, 234, 0.8); /* Fondo semitransparente */
  z-index: 2; /* Z-index mayor que el canvas */
  padding: 16px;
  overflow-y: scroll;
  box-sizing: border-box;
  scrollbar-width: none; /* Ocultar scrollbar en Firefox */

}

#ui::-webkit-scrollbar {
  display: none; /* Ocultar scrollbar */
}

#canvas-container {
  position: relative;       /* Posiciona al contenedor para que el botón se base en él */
  width: 100%;              /* El contenedor tiene el ancho completo */
  height: 100vh;            /* Altura completa de la ventana */
}

#threejs-container{
  /* position: absolute;
  left: 0;
  top: 0; */
  display: block;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  height: 100vh; /* Asegura que ocupe todo el alto */
  background-color: white;
}

#chords {
  position: absolute; /* Hacer el div flotante */
  bottom: 0; /* Pegado a la parte inferior */
  left: 600px; /* Pegado a la izquierda */
  right: 0; /* Ancho completo */
  height: 100px; /* Ajusta la altura según lo necesites */
  z-index: 3; /* Mayor que el canvas */
  display: flex; /* Para alinear el contenido si es necesario */
  align-items: center; /* Centrar verticalmente el contenido */
  justify-content: center;
  padding: 10px; /* Espaciado interno */
}

.ui-row{
  display: flex;
  gap: 0px;
}

.ui-column{
  display: flex;
  flex-direction: column;
}

.ui-spacer{
  display: flex;
  height: 50px;
}

.ui-button{
  width: 50px;
  height: 50px;
  border-style: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-chord-button{
  width: 100px;
  height: 100px;
  border-style: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-vertical-separator{
  height: 10px;
}

.ui-horizontal-separator{
  width: 20px;
}

.ui-seq-sound-button{
  width: 50px;
  height: 100px;
  border-style: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ui-seq-sound-button img{
  margin-bottom: 10px;
}

#bpm-field{
  height: 100px;
  width: 100px;
  background-color: #FFA125;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bpm-field h2{
  font-family: 'Space Grotesk';
  font-size: 32px;
}

#title-field{
  height: 100px;
  width: 200px;
  background-color: #A83FF1;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#title-field p{
  font-family: 'Space Grotesk';
  font-size: 16px;
  margin: 16px;
}

#ui-metronome{
  height: 150px;
  width: 50px;
  background-color: #A83FF1;
  border-radius: 25px;
  margin-top: -100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#ui-volume-slider{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#ui-volume-slider img{
  margin: 15px;
}

#bass-note-control{
  height: 100px;
  width: 50px;
  /* background-color: #C8C8C8; */
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seq-button{
  height:33px;
}

.seq-button.active {
  background-color: #01DEBB; /* Cambiar a color verde cuando esté pulsado */
}

.seq-button.current {
  background-color: white; /* Cambiar a color verde cuando esté pulsado */
}

.purple{
  background-color: #A83FF1;
}

.purple:hover{
  background-color: #BA6AF1;
}

.yellow{
  background-color: #FFA125;
}

.yellow:hover{
  background-color: #FFBC63;
}

/* .yellow.active{
  background-color: red;
} */

.red{
  background-color: #FE4B47;
}

.red:hover{
  background-color: #FF6B68;
}

.gray{
  background-color: #C8C8C8;
}

.gray:hover{
  background-color: #E1E1E1;
}

#start-button {
  position: absolute;
  top: 50%;               /* Centrar verticalmente */
  left: calc(50% + 200px);
  transform: translate(-50%, -50%); /* Ajustar para que quede centrado en ambos ejes */
  padding: 20px 40px;     /* Tamaño del botón */
  font-size: 24px;        /* Tamaño de texto */
  background-color: #FFA125;  /* Color de fondo */
  color: white;           /* Color de texto */
  border: none;           /* Sin borde */
  border-radius: 10px;    /* Bordes redondeados */
  cursor: pointer;        /* Manito de clic */
  z-index: 3;             /* Asegura que esté sobre el canvas */
}

#start-button:hover {
  background-color: #FFBC63;  /* Cambiar color al pasar el mouse por encima */
}

#start-button:active {
  background-color: #FFA125;  /* Color cuando el botón está presionado */
}