/* @import 'bulma/css/bulma.css'; */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
}

button {
  -webkit-tap-highlight-color: transparent; /* Oculta el resalte al hacer clic en iOS */
}

* {
  user-select: none;
  -webkit-user-select: none;
  /* Para Safari */
  -moz-user-select: none;
  /* Para Firefox */
  -ms-user-select: none;
  /* Para IE */
}

#ui {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Ancho fijo de la columna */
  height: 190px;
  background-color: rgba(234, 234, 234, 0.5);
  /* Fondo semitransparente */
  z-index: 2;
  /* Z-index mayor que el canvas */
  padding: 0px;
  border-radius: 42px;
  overflow-y: scroll;
  box-sizing: border-box;
  scrollbar-width: none;
  /* Ocultar scrollbar en Firefox */

}

#ui::-webkit-scrollbar {
  display: none;
  /* Ocultar scrollbar */
}

/* Contenedor del carrusel */
.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  background-color: #EAEAEA 50%;
}

/* Carrusel de elementos (divs) */
.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
  flex-direction: row;
}

/* Cada "slide" del carrusel */
.carousel-slide {
  min-width: 96%;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  height: 150px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin: 2%;
}

.seq-slide{
display: none;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 0px;
}

.indicator {
  width: 8px;
  height: 8px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #fff; /* Color para el punto activo */
}

#start-button {
  position: absolute;
  top: calc(50% - 95px);
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 32px;
  font-family: 'Space Grotesk';
  font-size: 32px;
  font-weight: 800;
  color: white;  background-color: #FFA125;
  color: white;
  border: none;
  border-radius: 64px;
  cursor: pointer;
  z-index: 3;
}

@media (min-width: 768px) {

  #ui {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    /* Ancho fijo de la columna */
    height: 100vh;
    background-color: rgba(234, 234, 234, 0.8);
    /* Fondo semitransparente */
    z-index: 2;
    /* Z-index mayor que el canvas */
    padding: 0px;
    overflow-y: scroll;
    box-sizing: border-box;
    scrollbar-width: none;
    /* Ocultar scrollbar en Firefox */
  
  }

  .carousel-container {
    overflow: visible;
    /* Permitimos que todos los slides sean visibles */
  }

  .carousel-track {
    flex-direction: column;
    /* Colocar los slides en columna */
    transform: none;
    /* Sin transformación en pantallas grandes */
  }

  .carousel-slide {
    min-width: auto;
    /* Eliminar el ancho mínimo */
  }

  .carousel-indicators{
    display: none;
  }

  #start-button {
    position: absolute;
    top: 50%;
    left: calc(50% + 200px);
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size: 24px;
    background-color: #FFA125;
    color: white;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    z-index: 3;
  }

  .seq-slide{
    min-width: 100%;
    box-sizing: border-box;
    padding: 12px;
    position: relative;
    text-align: center;
    height: 650px;
    align-items: center;
    /* Centrar contenido verticalmente */
    justify-content: center;
    /* Centrar contenido horizontalmente */
    display: none;
  }
}

#canvas-container {
  position: relative;
  /* Posiciona al contenedor para que el botón se base en él */
  width: 100%;
  /* El contenedor tiene el ancho completo */
  height: 100vh;
  /* Altura completa de la ventana */
}

#threejs-container {
  /* position: absolute;
  left: 0;
  top: 0; */
  display: block;
  width: 100%;
  /* Asegura que ocupe todo el ancho disponible */
  height: 100vh;
  /* Asegura que ocupe todo el alto */
  background-color: white;
}

#chords {
  position: absolute;
  /* Hacer el div flotante */
  bottom: 0;
  /* Pegado a la parte inferior */
  left: 600px;
  /* Pegado a la izquierda */
  right: 0;
  /* Ancho completo */
  height: 100px;
  /* Ajusta la altura según lo necesites */
  z-index: 3;
  /* Mayor que el canvas */
  display: flex;
  /* Para alinear el contenido si es necesario */
  align-items: center;
  /* Centrar verticalmente el contenido */
  justify-content: center;
  padding: 10px;
  /* Espaciado interno */
}

.ui-row {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ui-subrow {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 0;
}

.ui-column {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
}

.ui-spacer {
  display: flex;
  height: 50px;
}

.ui-button {
  width: 16.66%;
  height: 100%;
  border-style: none;
  border-radius: 37.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  
}

.ui-chord-button, .ui-bass-button, .ui-voice-button {
  width: 33%;
  /* padding-top: 33%; */
  height: 100%;
  border-style: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* .ui-chord-button{
  background-color: #FE4B47;
}

.ui-bass-button{
  background-color: #A83FF1;
}

.ui-voice-button{
  background-color: #32A3FF;
}

.ui-chord-button:hover{
  background-color:#FF6B68;
}

.ui-bass-button:hover{
  background-color:#BA6AF1;
}

.ui-voice-button:hover{
  background-color: #5AB5FF;
} */

.ui-vertical-separator {
  height: 10px;
}

.ui-horizontal-separator {
  width: 20px;
}

.ui-seq-sound-button {
  width: 16.66%;
  height: 100%;
  border-style: none;
  border-radius: 37.5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #FFA125;
}

.ui-seq-sound-button:hover{
  background-color: #FFBC63;
}
/* 
.active{
  background-color: white;
} */

.ui-seq-sound-button img {
  margin-bottom: 10px;
}

#bpm-field {
  width: 33%;
  height: 100%;
  background-color: #FFA125;
  border-radius: 37.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bpm-field h2 {
  font-family: 'Space Grotesk';
  font-size: 32px;
  color: white;
}

#title-field {
  width: 16.66%;
  height: 100%;
  background-color: white;
  border-radius: 37.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#title-field p {
  font-family: 'Space Grotesk';
  font-size: 12px;
  color:#A83FF1;
}

#ui-metronome {
  height: 100%;
  width: 33%;
  background-color:white;
  border-radius: 37.5px;
  display: flex;
}

#ui-metronome.active{
  transition: background-color 0.3s ease;
  background-color:#01DEBB;
}

#ui-volume-slider {
  width: 50%;
  height: 100%;
  border-radius: 37.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color:white;
}

#ui-volume-slider.active {
  transform: translateX(100%);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#ui-volume-slider img {
  margin: 15px;
}

#bass-note-control {
  height: 100px;
  width: 50px;
  /* background-color: #C8C8C8; */
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seq-button {
  height: 6.25%;
  width: 100%;
}

.seq-button.active {
  background-color: #01DEBB;
  /* Cambiar a color verde cuando esté pulsado */
}

.seq-button.current {
  background-color: white;
  /* Cambiar a color verde cuando esté pulsado */
}

.purple {
  background-color: #A83FF1;
}

.purple:hover, .purple.active {
  background-color: #BA6AF1;
}

.yellow {
  background-color: #FFA125;
}

.yellow:hover, .yellow.active {
  background-color: #FFBC63;
}

.blue {
  background-color: #32A3FF;
}

.blue:hover, .blue.active {
  background-color: #5AB5FF;
}

.red {
  background-color: #FE4B47;
}

.red:hover, .red.active {
  background-color: #FF6B68;
}

.aqua {
  background-color: #01DEBB;
}

.aqua:hover, .aqua.active {
  background-color: #21F1D0;
}

.gray {
  background-color: #C8C8C8;
}

.gray:hover, .gray.active {
  background-color: #E1E1E1;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
}

.text-shadow{
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
}

.light-yellow{
  background-color: #FFEDD4;
}

.light-red{
  background-color: #FFCAC9;
}

.light-purple{
  background-color: #E6C2FF;
}

.light-aqua{
  background-color: #D3FFF8;
}

.light-blue{
  background-color: #CEE9FF;
}

.rounded{
  border-radius: 32px;
}

.border-container {
  position: absolute;
  inset: 0;
  pointer-events: none; /* Evita que interfiera con la interacción de otros elementos */

}